<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <div style="flex-grow: 1;">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/" class="float-left"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
      </ul>
    </div>
    <div>
      <a href="/" type="cancel" class="btn btn-lg btn-primary btn-danger" id="cancel-button" value="SUBMIT">cancel</a>
      <button type="submit" class="btn btn-lg btn-primary btn-success" id="update-button" value="SUBMIT">update</button>
    </div>
  </div>
</nav>